*{
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    color: #000;
}
.ventana{
    background-color:rgb(0, 0, 48);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor{
    background-color: #fff;
    width: 70%;
    color: #000;
    height: 500px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    /* flex-wrap: wrap; */
    /* background-color: #563e09; */
    
}
.ladoIzquierdo{
    background-color: #40677d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    height: 100%;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    text-align: center;
}
@media (min-width:720px) {
    .contenedor{
        flex-direction: row;
        width: 50%;
    }

    .ladoIzquierdo{
        width: 40%;
        border-radius: 15px 0px 0px 15px;
    }

    .ladoDerecho{
        width: 60%;
    }
}
.ladoIzquierdo >h2, p{
    color: #fff;
}
.ladoDerecho{
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    border-radius: 15px;
    flex: 1 1 60%;
}
input{
    width: 80%;
    padding: 8px;
    font-size: 18px;
    border-radius: 7px;
    border: none;
    border-bottom: 1px solid rgb(70, 70, 70);
}
input:focus{
    outline: none;
    border: none;
    border-bottom: 1px solid #000;
    font-size: 20px;
    transition: border-bottom 0.2s ease;
    transition: font-size 0.2s ease-in-out;
}

.ladoDerecho>h2{
    margin: 20px 0px 0px 0px;
    font-size: 35px;
}
.salarioP{
    color: rgb(67, 92, 16);
    font-weight: bold;
    margin: 5px 0;
}
.bonificacionP{
    color: darkblue;
}
.descuentoP{
    color: darkred;
}
.final{
    color: #563e09;
}
.mensaje{
    color: #000;
    margin: 0;
}
.contResultados{
    text-align: center;
    width: 100%;
    height: auto;
    margin: 15px 0;
}
.titulo{
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin: 4px 0;
}
.botones{
    display: flex;
    height: 100px;
    background-color: aliceblue;
    width: 80%;
    gap: 6px;
    height: 50px;
}
button{
    width: 100%;
    padding: 4px;
    font-size: 14px;
    border-radius: 8px;
    background-color: #40677d;
    color: white;
    height: 100%;
}
button:hover{
    width: 110%;
    background-color: #4e84a2;
    transition: width 0.2s ease;
    transition: background-color 0.2s ease;
    cursor: pointer;
}